/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors*/
:root {
    --header: #ff6800;
    --footer: #1a1a1a;
}

/* Generics */
body{
    font-family: sans-serif;
}

/*Header*/

header{
    background-color: var(--header);
    height: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}
.navigation-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
img{
    width: 200px;
    height: 50px;
    justify-content: space-around;
}
.link{
    width: 800px;
    display: flex;
    justify-content: flex-start;
}
.navigation-buttons{
    width: 700px;
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style-type: none;

}
li{
    padding: 5px;
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

/*Main content*/

.product{
    width: 500px;
    height: 700px;
}



/*Footer*/
footer{
    background-color: var(--footer);
    height: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-navigation-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.information{
    width: 1400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

h3{
    padding: 15px;
}
h4{
    padding: 10px;
}


/*Utils*/
.container{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3 - 40px);
}
.card{
    position: relative;
    margin-bottom: 50px;
}
h4{
    font-size: 25px;
    padding: 0;
}
h5{
    display: inline;
    font-size: 20px;
    font-weight: bolder;
    color: grey;
}
.discount-price{
    color: red;
}
.discount{
    color: white;
    padding: 5px;
    background-color: red;
    position: absolute;
    bottom: 15%;
}
.green-product{
    color: white;
    padding: 5px;
    background-color: green;
    position: absolute;
    left: 10%;
    bottom: 15%;
}
.green-product-no-discount{
    color: white;
    padding: 5px;
    background-color: green;
    position: absolute;
    bottom: 15%;
}
.favourite{
    color: black;
    background-color: white;
    position: absolute;
    top: 5%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 80%;
    cursor: pointer;
}
.favourite:hover::after{
    color: red;
    content: '\2764';
    background-color: white;
    position: absolute;
    top: 5%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    cursor: pointer;
}
.container-img img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.container-img img:hover{
    opacity: 0;
}